

<!-- About -->
 <section id="about" class="about">
         <!-- Page Content -->
         <div class="container">

             <!-- Page Heading/Breadcrumbs -->
             <div class="row">
                 <div class="col-lg-12">
                     <h1 class="page-header">About Creative Automaton
                         <small>A Web Automation Cooperative</small>
                     </h1>
                 </div>
             </div>
             <!-- /.row -->

             <!-- Intro Content -->
             <div class="row">
                 <div class="col-md-6">
                     <img class="img-responsive" src="{{ page.aside }}" alt="">
                 </div>
                 <div class="col-md-6">
                     <h2>
                      Our Philosophy
                     </h2>
                     <p>
                     we are loosenit cooperative of highly skilled coders, designers, project managers, marketing consultants, and tinkerers, phew!
                     </p>
                     <p>
                      That is a precise description but in short reality we are trying to build a future in which technology helps us live better lives. 
                     </p>

                     <p> To find out even more you can talk to us here
                      <a href="mailto:info@creativeautomaton.com">info@creativeautomaton.com</a>
                 </div>
             </div>
             <!-- /.row -->

            {% include team-members.html %}

            {% include our-customers.html %}
 </section>
