<div id="mc_embed_signup">
    <form action="//creativeautomaton.us1.list-manage.com/subscribe/post?u=9f31dd5a276b295dc104bbe9c&amp;id=1c8c577b2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="form-group">
          	<label for="mce-EMAIL">Join the Cooperative</label>
          	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_9f31dd5a276b295dc104bbe9c_1c8c577b2f" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </div>
    </form>
</div>
