<p class="h-card">
   <!-- Contact Details Column -->
   <div class="col-md-4">
       <h3>Contact Details</h3>
       <p>
            <span class="p-street-address">1084 Taylor Ave.</span>
            <span class="p-locality">Saint Louis</span>
            <span class="p-region">Missouri</span>
            <span class="p-postal-code">63139</span>
            <span class="p-country-name">United States</span>
       </p>
       <p>
          <img class="u-photo" src="http://example.org/photo.png" alt="" />
       </p>
       <p><i class="fa fa-phone"></i>
           <abbr title="Phone">P</abbr>: (314) 695-6238</p>
       <p><i class="fa fa-envelope-o"></i>
            <a class="u-email" href="mailto:creativeautomaton@gmail.com">creativeautomaton[at]gmail.com</a>
       </p>
        <a class="p-name u-url" href="http://creativeautomaton.com">Creative Automaton.com</a>
       <p><i class="fa fa-clock-o"></i>
           <abbr title="Hours">Hours of Operation</abbr>: Monday - Friday: 9:00 AM to 4:00 PM</p>
       <ul class="list-unstyled list-inline list-social-icons">
           <li>
               <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
           </li>
           <li>
               <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
           </li>
           <li>
               <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
           </li>
           <li>
               <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
           </li>
       </ul>
   </div>
</p>
