<p class="h-card">
  <img class="u-photo" src="http://example.org/photo.png" alt="" />
  <a class="p-name u-url" href="http://creativeautomaton.com">Creative Automaton</a>
  <a class="u-email" href="mailto:creativeautomaton@gmail.com">creativeautomaton[at]gmail.com</a>,
  <span class="p-street-address">1084 Taylor Ave.</span>
  <span class="p-locality">Saint Louis</span>
  <span class="p-region">Missouri</span>
  <span class="p-postal-code">63139</span>
  <span class="p-country-name">United States</span>
</p>
