{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.title == "Workers"
%}{% assign showHeader = true %}{% endif %}
  

{% if showHeader == true %}
    <header class="header-home {% if site.animation %} {% endif %}">


        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title slideInDown animated">{{ site.name }}</h1>
        <h2 class="title slideUpDown animated">Co-Operative</h2>
        <h3 class="description slideInDown animated">{{ site.bio }}</h3>


    </header>
{% endif %}
