<header class="header">
  <section id="hero" style="background: url('{{page.background}}'); background-size: cover; max-height: 300px;
  max-height: 300px; background-position-y: -100px;">
    <div class="container">
        <h1 class="logo hide fast">
          <a href="{{site.url}}" > Creative Automaton
          <small> Saint louis Web Company </small>
        </a>
        </h1>
        <div class="title hide">
                <span> {{ page.description }}</span>
       </div>
    </div>
  </section>
</header>
