{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.title == "Workers"
%}{% assign showHeader = true %}{% endif %}


{% if showHeader == true %}
    <header class="header-home {% if site.animation %} {% endif %}">


        <!-- {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %} -->

      <!-- <div class="headline hide">
        <h1 class="title">{{ site.name }}</h1>
        <h1 class="title">CA</h1>
        <p class="description">{{ site.bio }}</p>
      </div> -->
      

    </header>
{% endif %}
