<section id="hero">

  <video class="fadeIn animated very-fast" src="/assets/video/shiny_metal_cubes.mp4" autoplay loop > </video> 
  <div class="container">
      <h1 class="logo hide fast">Creative Automaton</h1>
      <p class="description hide">{{ site.bio }}</p>
      <div class="title hide">A Digital Automation Cooperative.</div>

      <div class="call-to-action hide  slideInUp animated">
          <button class="btn btn-primary hire-us slideInLeft animated"> Hire us </button>
          <button class="btn btn-secondary join-us slideInRight animated"> Join us </button>
      </div>
  </div>

</section>
