 <!-- Portfolio Modals -->
    {% for project in site.data.creativeautomaton.projects %}
      <div class="portfolio-modal modal fade" id="portfolio-modal-{{project.id}}" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal">
                      <div class="lr">
                          <div class="rl">
                          </div>
                      </div>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-8 col-lg-offset-2">
                              <div class="modal-body">
                                  <!-- Project Details Go Here -->
                                  <h2>{{project.name}}</h2>
                                  <!-- <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p> -->
                                  <img class="img-responsive img-centered" src="{{project.images.logo.url}}" alt="{{project.name}}">
                                  <p>{{ project.description}}</p>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
{% endfor %}


<!-- Form Modals -->
   {% for form in site.data.creativeautomaton.forms  %}
     <div class="form-modal modal fade" id="form-modal-{{form.id}}" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="close-modal" data-dismiss="modal">
                     <div class="lr">
                         <div class="rl">
                         </div>
                     </div>
                 </div>
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-8 col-lg-offset-2">
                             <div class="modal-body">
                                 <h2>{{form.name}}</h2>
                                 <p>{{ form.description}}</p>
                                 <form action="https://formspree.io/{{form.email}}"
                                 method="POST">

                                    {% for input in form.inputs %}
                                    <div class="form-group">
                                    <input type="{{input.type}}" name="{{input.name}}" {{input.attribute}} {{input.placeholder}}>

                                    </div>
                                    {% endfor %}
                                   <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-plane"></i> Send </button>

                                  </form>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
   </div>
{% endfor %}
