<nav class="">
        <ul class="list">
            {% if page.title != "Home" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/">Home</a>
                </li>
            {% endif %}

                {% if page.title != "Projects" %}
                    <li class="item">
                        <a class="link" href="{{ site.url }}/projects">Projects</a>
                    </li>
                {% endif %}

                   {% if page.title != "Services" %}
                       <li class="item">
                           <a class="link" href="{{ site.url }}/services">Services</a>
                       </li>
                   {% endif %}

                {% if page.title != "Blog" %}
                    <li class="item">
                        <a class="link" href="{{ site.url }}/blog">Blog</a>
                    </li>
                {% endif %}


                {% if page.title != "About" %}
                    <li class="item">
                        <a class="link" href="{{ site.url }}/about">About</a>
                    </li>
                {% endif %}


                 {% if page.title != "Contact" %}
                     <li class="item">
                         <a class="link" href="{{ site.url }}/contact">Contact</a>
                     </li>
                 {% endif %}
                <hr />
                <li class="item">
                    <a class="link" href="tel:3146956238">
                        (314) 695-6238  
                    </a>
                </li>

               <li class="item">
                   <a class="link" href="mailto:creativeautomaton@gmail.com">
                        creativeautomaton@gmail.com
                    </a>
               </li>
        </ul>

        <!-- {% include social-links.html %} -->

        <!-- {% include form-subscribe.html %} -->

</nav>
