    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"> Projects
                        <small>A small list of our recent projects</small>
                    </h2>
                </div>
            </div>
            <!-- /.row -->

            <!-- Projects Row -->
            <div class="row">
                {% for project in site.data.data.projects %}
                <div class="col-xs-12 col-sm-4 img-portfolio animated bounceInUp hide">
                    <a href="{{ project.url}}">
                        <img class="img-responsive img-hover" src="{{project.images.logo.url}}"  alt="{{project.name}}">
                    </a>
                    <h3>
                        <a href="{{ project.url}}"> {{project.name}} </a>
                    </h3>
                    <p>{{ project.description}}</p>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->

            <hr>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>
