<section>
     <div class="container">
             <!-- Service Panels -->
             <div class="row">
                 <div class="col-lg-12">
                     <div class="page-header">Services
                       <small> Grity details of our offerings</small>
                     </div>
                 </div>
                <div class="service-panels">
                    {% for service in site.data.creativeautomaton.services %}
                     <div class="col-md-4 col-sm-6 hide animated bounceIn">
                         <div class="panel panel-default text-center">
                             <div class="panel-heading"  style="background: url('{{service.image}}'); background-size: cover;">
                                 <span class="fa-stack fa-5x animated ">
                                       <i class="fa fa-circle fa-stack-2x text-info"></i>
                                       <i class="fa {{service.icon}} fa-stack-1x fa-inverse"></i>
                                 </span>
                             </div>
                             <div class="panel-body">
                                 <strong class="service-name">{{service.name}}</strong>
                                 <p>{{service.desc}}</p>
                                 <a href="services/{{service.url}}" class="btn btn-secondary">
                                  Learn More </a>
                                 <p>or</p>
                                 <a href="#form-modal-1" class="btn btn-primary get-quote animated" data-toggle="modal">
                                  Hire Us For {{service.name}}</a>
                             </div>
                         </div>
                     </div>
                    {% endfor %}
                </div>
             </div>
    </div>
     <!-- /.container -->
</section>
