<section>

 <!-- Team Members -->
 <div class="row">
     <div class="col-lg-12">
         <h2 class="page-header">Our Team</h2>
     </div>
    {% for worker in site.data.creativeautomaton.workers %}
     <div class="col-md-4 text-center">
         <div class="thumbnail">
             <img class="img-responsive" src="{{worker.photo }}" alt="{{worker.name }} - {{worker.title }}">
             <div class="caption">
                 <h3>{{ worker.name }}<br>
                     <small> {{worker.title }}</small>
                 </h3>
                 <p>{{ worker.description }}</p>
                 <ul class="list-inline">
                     <li><a href="{{ worker.facebook }}" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                     </li>
                     <li><a href="{{ worker.linkedin }}" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                     </li>
                     <li><a href="{{ worker.twitter }}" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
     {% endfor %}
 </div>
 <!-- /.row -->

</section>
