.header #hero
  overflow: hidden
  max-height: 300px

  > .logo

    > small
      display: block
      font-size: 1.25rem
      text-transform: uppercase
      color: #fff
      padding: 0px 70px

    > a
        color: #fff

        &:hover
            color: #F00
            text-decoration: none
 

.header-home
    display: flex
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 0

    > .headline
        width: 100%
        margin: 4rem 0rem 0rem 0rem

        > h1
            font-size: 8rem
            line-height: 2rem
            margin: 2rem 0rem 0rem 0rem
            display: inline-block

        > h2
            font-size: 6rem

    > .headline.shrink
        margin: 4rem 0rem 0rem 0rem
        display: inline-block
        webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        transition: all 0.5s ease


    > .link > .selfie
        width: 125px
        margin-bottom: 25px
        border-radius: 100%
        transition: all .2s
        box-shadow: 0
        opacity: 1

        &:hover
            box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
            opacity: .8

    > .title
        font-size: 4rem
        margin: 0 0 13px

    > .description
        font-size: 1.85rem
        font-weight: 300
        font-style: normal
        color: $gama
        width: 70%
        margin: 0 auto 30px

        a
            font-weight: 200
